* {
    font-family: 'Biryani', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Pridi', serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

#button {
    font-family: 'Pridi', serif;
    font-weight: 200;
}

#pagina {
    text-shadow: 0 0 12px rgb(0, 0, 0);
}

.sereno {
    background: linear-gradient(rgb(49, 96, 135, 0.397), rgba(49, 96, 135, 0.397)), url(/open_weather/media/sun.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.nuvoloso {
    background: linear-gradient(rgba(109, 109, 109, 0.397), rgba(109, 109, 109, 0.397)), url(/open_weather/media/clouds.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.pioggia {
    background: linear-gradient(rgb(49, 96, 135, 0.397), rgba(49, 96, 135, 0.397)), url(/open_weather/media/rain_3.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.bg-cloudy {
    background-color: lightgrey;
}

.bg-clear {
    background-color: lightskyblue;
}

.bg-rain {
    background-color: lightslategray;
}